
html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.wrap {
	padding-bottom: 80px;
}

footer {
	position: absolute;
	bottom: 0;

	width: 100%;

	height: 60px;
}

footer p {
	line-height: 60px;
	margin: 0;
}


.artifacts > li > a {
}

.artifacts .currentVersion {
	display: inline-block;

	border-radius: 3px;
	padding: 0px 5px;

	font-weight: bold;

	background: #1abc9c;
	color: #fff;

	margin: 2px 0 2px 1ex;
}

.artifacts .locations li {
}

.artifacts .locations .provider {
	display: inline-block;

	margin: 2px 1ex 2px;
	width: 10em;

	text-align: center;

	border-radius: 3px;
	padding: 0px 5px;
	background: #eee;
}

