
html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.wrap {
	padding-bottom: 80px;
}

.page-header h1,
.page-header h1 a {
	color: #C0392B;
	text-decoration: none;
}

.wrap .container:after {
	display: block;
	margin-top: 30px;
	padding-top: 20px;

	font-size: 30px;
	letter-spacing: 10px;

	color: #C0392B;

	text-align: center;

	content: "\2219 \2219 \2219 \2219 \2219";
}

footer {
	position: absolute;
	bottom: 0;

	width: 100%;

	height: 60px;
}

footer p {
	line-height: 60px;
	margin: 0;
}


.artifacts {
	margin: 0px;
	padding: 0px;
}

.artifacts > li {
	list-style-type: none;
	padding-bottom: 11px;
	border-bottom: 1px solid #f8f8f8;
	margin-bottom: 12px;
}

.artifacts > li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
	margin-bottom: 0px;
}

.artifacts .name {
	font-weight: bold;
	color: inherit;
}

.artifacts .name:hover {
	color: #1abc9c;
}

.artifacts .currentVersion {
	display: inline-block;

	border-radius: 3px;
	padding: 0px 5px;

	font-weight: bold;

	background: #eee;
	color: #E74C3C;

	margin: 0 0 0 1.5ex;
}

.artifacts .locations {
	margin-top: -22px;
	margin-left: 200px;
}

.artifacts .locations > li {
	list-style-type: none;
}

.artifacts .locations .provider {
	display: inline-block;

	margin: 2px 1ex 2px;
	width: 10em;

	text-align: center;

	border-radius: 3px;
	padding: 0px 5px;
	background: #eee;
}

